# Projects
*.cbp
*.user
*.cproject
*.cproject
*CMakeCache.txt*
*.cmake
.vscode/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images / post-processing
*.vtk
*.pvd
*.vtu
*.pvtu
*.eps

# data
*.dat

# meshes
*.msh

# Ignore all build file 
build/*
cmake-build-debug/*
cmake-build-release/*

# Ignore clion recommandation file
.idea/*


