name: Publish doc to GitHub Pages

on: [push, pull_request]

# Cancels running instances when a pull request is updated by a commit
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref || github.run_id }}
  cancel-in-progress: true

env:
  SPHINX_VERSION: 4.3.1

jobs:
  doc:
    name: Publish doc to GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Checkout code
        uses: actions/checkout@v2

      #- name: Build doxygen
      #  uses: mattnotmitt/doxygen-action@v1.1.0
      #  with:
      #    doxyfile-path: "./doc/doxygen/doxygen-config-file"
      #    working-directory: "."

      - name: Setup Sphinx and doxygen
        run: |
            sudo apt-get install doxygen
            sudo apt-get install -y graphviz
            pip install sphinx==${{ env.SPHINX_VERSION }}
            pip install sphinx-copybutton
            pip install -r doc/requirements.txt
  
      - name: Build Sphinx HTML, Doxygen and aggregate files
        run: |
          cd doc
          make html
          cp -r build/html/ aggregate/html_documentation

          cd doxygen
          doxygen doxygen-config-file
          cd ..
          ls -lh
          ls -lh doxygen
          cp -r doxygen/html/ aggregate/html_doxygen/

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: html-doc
          path: doc/aggregate/

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: doc/aggregate
