name: CI

on:
  # Runs on every push on master branch. If a push contains multiple commits, it will be ran on the latest one.
  push:
    branches:    
      # Push events on master branch
      - master
  # Runs the workflow when a PR is opened or syncronized (new commit). Covers PRs from forks.
  # See: https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request_target
  pull_request_target:
    branches:    
      # Pull request events targetting master branch
      - master

env:
  COMPILE_JOBS: 2

jobs:
  build:
    name: Build (${{ matrix.build_type }}-deal.ii:${{ matrix.dealii_version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        build_type: ["Release", "Debug"]
        dealii_version: ["master", "v9.3.0"]
    
    # Run steps in container of dealii's master branch
    container:
      image: dealii/dealii:${{ matrix.dealii_version }}-focal

    steps:
      - name: Setup
        run: |
          # Github action require containers to run as root. We can't do this without breaking the mpi tests.
          # To allow the checkout action to operate, we preemptively give access to the workspace directory manually. 
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE

          # Since dealii image doesn't include Node.js, we'll install it
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends nodejs

          echo "Github actions is sane!"
          echo "Running ${{ matrix.build_type }} build with deal.ii version ${{ matrix.dealii_version }} on branch ${GITHUB_REF#refs/heads/}"

      # Checks-out Lethe with branch of triggering commit
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Compile Lethe (${{ matrix.build_type }}-deal.ii:${{ matrix.dealii_version }})
        run: |
          mkdir build
          cd build
          cmake ../ -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          make -j${{ env.COMPILE_JOBS }}

      - name: Run Lethe tests (${{ matrix.build_type }}-deal.ii:${{ matrix.dealii_version }})
        run: |
          cd build
          ctest -V

  #formatting:
    #runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    #    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v2
      #        with: clangFormatVersion: 5
      # Runs a set of commands using the runners shell
      #      - name: formatting
      # if: github.event_name != 'pull_request'
      # run: |
      #   git clone https://github.com/lethe-cfd/lethe && cd lethe && git checkout "${GITHUB_REF#refs/heads/}"
      #   python contrib/utilities/run-clang-format.py -r source include;

